@{
    ViewData["Title"] = "Quản lý dự án";
}
<a href="#" class="btn btn-primary float-right mt-n1"><i class="fas fa-plus"></i> Tạo mới</a>
<h1 class="h3 mb-3">Dự án</h1>
<nav class="nav nav-pills flex-column flex-sm-row my-2">
    <a class="flex-sm-fill text-sm-center nav-link col-1" aria-current="page" href="/Project/ListProject"><i class="align-middle mr-2" data-feather="list"></i></a>
    <a class="flex-sm-fill text-sm-center nav-link active col-1" href="/Project"><i class="align-middle mr-2" data-feather="grid"></i></a>
</nav>
@await Html.PartialAsync("./Partial/_ListProject.cshtml")

<div class="modal fade" id="sizedModalMd" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm dự án</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body m-3">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="js_AddDepartment()">Lưu</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalUpdateDepartment" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chỉnh sửa dự án</h5>
                <button onclick="js_closeModalUpdate()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body m-3">
                s
            </div>
            <div class="modal-footer">
                <button type="button" onclick="js_closeModalUpdate()" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="js_UpdateDepartment()">Cập nhật</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/ProjectKaban.js"></script>


