@{
    ViewData["Title"] = "Home Page";
}

<main class="content">
	<div class="container-fluid p-0">
		<div class="row">
			<div class="col-lg-6 col-xl-5 d-flex">
				<div class="w-100">
					<div class="row">
						<div class="col-sm-6">
							<div class="card flex-fill">
								<div class="card-header">
									<span class="badge badge-primary float-right">New</span>
									<h5 class="card-title mb-0">Công việc mới</h5>
								</div>
								<div class="card-body my-2">
									<div class="row d-flex align-items-center mb-4">
										<div class="col-8">
											<h2 id="total-task-new" class="d-flex align-items-center mb-0 font-weight-light">
												0
											</h2>
										</div>
										<div class="col-4 text-right">
											<span id="percent-task-new" class="text-muted">0%</span>
										</div>
									</div>

									<div class="progress progress-sm shadow-sm mb-1">
										<div id="progress-task-new" class="progress-bar bg-primary" role="progressbar" style="width: 0%"></div>
									</div>
								</div>
							</div>
							<div class="card flex-fill">
								<div class="card-header">
									<span class="badge badge-info float-right">Processing</span>
									<h5 class="card-title mb-0">Đang thực hiện</h5>
								</div>
								<div class="card-body my-2">
									<div class="row d-flex align-items-center mb-4">
										<div class="col-8">
											<h2 id="total-task-processing" class="d-flex align-items-center mb-0 font-weight-light">
												0
											</h2>
										</div>
										<div class="col-4 text-progress">
											<span id="percent-task-processing" class="text-muted">0%</span>
										</div>
									</div>

									<div class="progress progress-sm shadow-sm mb-1">
										<div id="progress-task-processing" class="progress-bar bg-info" role="progressbar" style="width: 0%"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="card flex-fill">
								<div class="card-header">
									<span class="badge badge-success float-right">Complete</span>
									<h5 class="card-title mb-0">Đã hoàn thành</h5>
								</div>
								<div class="card-body my-2">
									<div class="row d-flex align-items-center mb-4">
										<div class="col-8">
											<h2 id="total-task-complete" class="d-flex align-items-center mb-0 font-weight-light">
												0
											</h2>
										</div>
										<div class="col-4 text-right">
											<span id="percent-task-complete" class="text-muted">0%</span>
										</div>
									</div>

									<div class="progress progress-sm shadow-sm mb-1">
										<div id="progress-task-complete" class="progress-bar bg-success" role="progressbar" style="width: 0%"></div>
									</div>
								</div>
							</div>
							<div class="card flex-fill">
								<div class="card-header">
									<span class="badge badge-warning float-right">Evaluated</span>
									<h5 class="card-title mb-0">Đã đánh giá</h5>
								</div>
								<div class="card-body my-2">
									<div class="row d-flex align-items-center mb-4">
										<div class="col-8">
											<h2 id="total-task-evaluated" class="d-flex align-items-center mb-0 font-weight-light">
												0
											</h2>
										</div>
										<div class="col-4 text-right">
											<span id="percent-task-evaluated" class="text-muted">0%</span>
										</div>
									</div>

									<div class="progress progress-sm shadow-sm mb-1">
										<div id="progress-task-evaluated" class="progress-bar bg-warning" role="progressbar" style="width: 32%"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6 col-xl-7">
				<div class="card flex-fill w-100">
					<div class="card-header">
						<h5 class="card-title mb-0">Thống kê số lượng công  việc theo phòng ban</h5>
					</div>
					<div class="card-body d-flex w-100">
						<div class="align-self-center chart">
							<canvas id="chartjs-dashboard-bar-devices"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<script src="~/js/Home.js"></script>

