@{
    ViewData["Title"] = "Công việc cá nhân";
}
<style>
    .select2-container{
        display: block !important
    }
</style>

<a href="/Task/TaskCreate" class="btn btn-primary float-right mt-n1"><i class="fas fa-plus"></i> Tạo mới</a>
<h1 class="h3 mb-3">Công việc</h1>
<nav class="nav nav-pills flex-column flex-sm-row my-2">
    <a class="flex-sm-fill text-sm-center nav-link col-1 active" aria-current="page" href="/Tast/ListTaskUser"><i class="align-middle mr-2" data-feather="list"></i></a>
    <a class="flex-sm-fill text-sm-center nav-link  col-1" href="/Task/TaskKabanUser"><i class="align-middle mr-2" data-feather="grid"></i></a>
</nav>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6 col-xl-3">
                        <div class="form-group">
                            <label class="form-label">Tên/ Mã công việc</label>
                            <div class="input-group">
                                <input type="text" id="name_s" class="form-control" placeholder="Nhập tên hoặc mã công việc">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-xl-3">
                        <div class="form-group">
                            <label class="form-label">Từ ngày</label>
                            <div class="input-group date" id="datetimepicker-date-1" data-target-input="nearest">
                                <input type="text" id="from-date" class="form-control datetimepicker-input" data-target="#datetimepicker-date-1">
                                <div class="input-group-append" data-target="#datetimepicker-date-1" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fas fa-fw fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-xl-3">
                        <div class="form-group">
                            <label class="form-label">Đến ngày</label>
                            <div class="input-group date" id="datetimepicker-date-2" data-target-input="nearest">
                                <input type="text" id="to-date" class="form-control datetimepicker-input" data-target="#datetimepicker-date-2">
                                <div class="input-group-append" data-target="#datetimepicker-date-2" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fas fa-fw fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-xl-3">
                        <a class="btn btn-info mt-n1 text-white" onclick="js_GetList()" style="margin-top: 30px !important;"><i class="fas fa-search"></i> Tìm kiếm</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-xl-3">
                        <div class="form-group">
                            <label class="form-label">Trạng thái</label>
                            <select class="form-control select2" id="status_s" data-toggle="select2">
                                <option value="">Tất cả</option>
                                <option value="NEW">Chưa thực hiện</option>
                                <option value="PROCESSING">Đang thực hiện</option>
                                <option value="COMPLETE">Hoàn thành</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6 col-xl-3">
                        <div class="form-group">
                            <label class="form-label">Mức độ</label>
                            <select class="form-control select2" id="priority_level_s" data-toggle="select2">
                                <option value="">Tất cả</option>
                                <option value="IMPORTANT">Quan trọng</option>
                                <option value="HIGH">Cao</option>
                                <option value="NORMAL">Bình thường</option>
                                <option value="LOW">Thấp</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6 col-xl-3">
                        <div class="form-group">
                            <label class="form-label">Trạng thái</label>
                            <select class="form-control select2" id="review_s" data-toggle="select2">
                                <option value="0">Tất cả</option>
                                <option value="1">Đã đánh giá</option>
                                <option value="2">Chưa đánh giá</option>
                            </select>
                        </div>
                    </div>
                </div>
                <table id="data-table" class="table table-striped" style="width:100%">
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/js/TaskUser.js"></script>


